<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="taskJob" class="com.example.demo.quartz.TestTask">

    </bean>
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
<property name="targetObject">
    <ref bean="taskJob"></ref>
</property>
<property name="targetMethod">
    <value>run</value>
</property>
    </bean>

    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
<property name="jobDetail">
    <ref bean="jobDetail"></ref>
</property>
<property name="cronExpression">
    <value>0/10 * * * * ?</value>
</property>
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
<property name="triggers">
    <list>
        <ref bean="myTrigger"></ref>
    </list>
</property>
    </bean>
</beans>
